<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartfitness.demo.mapper.ProgramsMapper">

	<insert id="programsAdd" parameterType="com.smartfitness.demo.model.Programs">
		insert into programs values(null,#{pg_name},#{pg_max},#{pg_info},#{pg_img1},#{pg_img2})
	</insert>
	
	<update id="enrollPT" >
		update members
		set pt_cnt = #{num}
		where mem_id = #{mem_id}
	</update>
</mapper>